<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vega_1p_f5d6">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import vega_1p_f5d6 urdf file -->
    <xacro:include filename="$(find dexmate_vega_description)/urdf/vega_1p_f5d6.package.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="vega_1p_f5d6.ros2_control.xacro" />


    <xacro:vega_1p_f5d6_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
